<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ReactJs</title>
    <script src="lib/react.development.js"></script>
    <script src="lib/react-dom.development.js"></script>
    <script src="lib/browser.min.js"></script>
  </head>
  <body>
    Nguyễn Văn Thanh
    <div id="root"></div>
      <script type="text/babel">
        ReactDOM.render(<h1>Văn Thanh</h1>,document.getElementById("root"))
      </script>
    </div>
  </body>
</html>
